# Miscellaneous

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# IntelliJ / Android Studio

*.iml
*.ipr
*.iws
.idea/

# VS Code (optional – uncomment if you don’t want it tracked)

.vscode/

# Flutter / Dart

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# Android

.gradle/
android/.gradle/
android/app/build/
android/build/
local.properties

# iOS

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# macOS

macos/Pods/

# Windows

windows/flutter/ephemeral/

# Linux

linux/flutter/ephemeral/

# Symbolication

app.*.symbols

# Obfuscation

app.*.map.json
